.ft-info-bar .ft-header .ft-avatar {
  border: solid 2px #4CAF50;
}
.ft-link.ft-color-link {
    color: #4CAF50
  }
  
  .ft-link.ft-color-link:hover {
    color: #4CAF50;
  }
  .ft-btn {
    background: #4CAF50;
  }
  
  blockquote {
    background: #4CAF50;
  }
  
  .ft-custom-list li:before {
    border: solid 2px #4CAF50;
  }
  
  .ft-info-bar .ft-header .ft-avatar .ft-lamp-light .ft-available-lamp {
    background: #4CAF50;
  }
  
  .ft-info-bar .ft-name:hover a {
    color: #4CAF50
  }
  
  .ft-info-bar .ft-knowledge-list li:before {
    color: #4CAF50;
  }
  
  .ft-menu-bar .ft-language-change li.ft-active-lang {
    background-color: #4CAF50;
  }
  
  .ft-code i {
    color: #4CAF50
  }
  
  .ft-counter-frame .ft-counter-box .ft-counter {
    color: #4CAF50;
  }
  
  .ft-counter-frame .ft-counter-box .ft-counter-plus {
    color: #4CAF50;
  }
  
  .ft-price.ft-popular-price:before {
    background: #4CAF50
  }
  
  .ft-price .ft-price-body .ft-price-cost .ft-number {
    color: #4CAF50;
  }
  
  .ft-price .ft-price-body .ft-price-list li:before {
    color: #4CAF50
  }
  
  .ft-price .ft-price-body .ft-price-list li.ft-empty-item:before {
    color: #4CAF50
  }
  
  .ft-testimonial .ft-testimonial-footer .ft-star-rate {
    color: #4CAF50
  }
  
  .ft-slider-navigation .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #4CAF50;
  }
  
  .fancybox-progress {
    background: #4CAF50;
  }
  
  .fancybox-thumbs__list a:before {
    border-color: #4CAF50;
  }
  
  .ft-timeline .ft-timeline-item .ft-timeline-mark {
    border: solid 3px #4CAF50;
  }
  
  .ft-form-field textarea.ft-active {
    border-color: #4CAF50;
  }
  
  .ft-form-field textarea:focus {
    border-color: #4CAF50;
  }
  
  .ft-contact-form .ft-input.ft-active+label, .ft-contact-form .ft-input:focus+label {
    background: #4CAF50;
  }
  
  .ft-pagination .ft-pagination-center a.ft-active-pag {
    color: #4CAF50;
  }
  
  .ft-preloader-load path:last-child {
    stroke: #4CAF50;
  }
  
  .ft-line-progress path:last-child {
    stroke: #4CAF50;
  }
  
  .ft-cirkle-progress path:last-child {
    stroke: #4CAF50;
  }
  