.ft-sm-text {
    color: #FFC107;
}

.ft-info-bar .ft-header .ft-avatar {
    border: solid 2px #FFC107;
}

.ft-link.ft-color-link {
    color: #FFC107
}

.ft-link.ft-color-link:hover {
    color: #FFC107;
}

.ft-btn {
    background: #FFC107;
}

blockquote {
    background: #FFC107;
}

.ft-custom-list li:before {
    border: solid 2px #FFC107;
}

.ft-info-bar .ft-header .ft-avatar .ft-lamp-light .ft-available-lamp {
    background: #FFC107;
}

.ft-info-bar .ft-name:hover a {
    color: #FFC107
}

.ft-info-bar .ft-knowledge-list li:before {
    color: #FFC107;
}

.ft-menu-bar .ft-language-change li.ft-active-lang:hover {
    background-color: #FFC107;
}

.ft-menu-bar nav .main-menu .menu-item.current-menu-item a:first-child {
    color: #FFC107;
    text-shadow: 0 0 3px rgba(250, 250, 252, 0.4);
}

.ft-code i {
    color: #FFC107
}

.ft-counter-frame .ft-counter-box .ft-counter {
    color: #FFC107;
}

.ft-counter-frame .ft-counter-box .ft-counter-plus {
    color: #FFC107;
}

.ft-price.ft-popular-price:before {
    background: #FFC107
}

.ft-price .ft-price-body .ft-price-cost .ft-number {
    color: #FFC107;
}

.ft-price .ft-price-body .ft-price-list li:before {
    color: #FFC107
}

.ft-price .ft-price-body .ft-price-list li.ft-empty-item:before {
    color: #FFC107
}

.ft-testimonial .ft-testimonial-footer .ft-star-rate {
    color: #FFC107
}

.ft-slider-navigation .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #FFC107;
}

.fancybox-progress {
    background: #FFC107;
}

.fancybox-thumbs__list a:before {
    border-color: #FFC107;
}

.ft-timeline .ft-timeline-item .ft-timeline-mark {
    border: solid 3px #FFC107;
}

.ft-timeline-left .ft-timeline-left-item .ft-timeline-left-mark {
    border: solid 3px #FFC107;
}

.ft-form-field textarea.ft-active {
    border-color: #FFC107
}

.ft-form-field textarea:focus {
    border-color: #FFC107
}

.ft-contact-form .ft-input.ft-active+label,
.ft-contact-form .ft-input:focus+label {
    background: #FFC107;
}

.ft-pagination .ft-pagination-center a.ft-active-pag {
    color: #FFC107
}

.ft-preloader-load path:last-child {
    stroke: #FFC107;
}

.ft-line-progress path:last-child {
    stroke: #FFC107;
}

.ft-cirkle-progress path:last-child {
    stroke: #FFC107;
}

.open-changer i {
    color: #FFC107;
}